:root {
  --color: #fff;
  --bgcolor: #10171e;
  --accent: #1da1f2;
  --accent-focus: #005fd1;

  --sidebar-width: 60px;
  --sidebar-bgcolor: #1b2836;

  --column-width: 310px;
  --column-bgcolor: #16212c;
}

:root.light {
  --color: #38444d;
  --bgcolor: #e2e9ee;
  --accent: #1da1f2;
  --accent-focus: #005fd1;

  --sidebar-bgcolor: #f7f9f9;

  --column-bgcolor: #ffffff;
}

body {
  color: var(--color);
  background-color: var(--bgcolor);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.TDapp {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  display: grid;
  width: var(--sidebar-width);
  grid-template-rows: auto 1fr auto;
  background-color: var(--sidebar-bgcolor);
  padding: 10px 12px;
}

.sidebar_upper_btns,
.sidebar_bottom_btns {
  display: grid;
  grid-template-rows: repeat(auto-fill, 36px);
  row-gap: 10px;
}

.tweetbtn {
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: var(--accent);
  border: none;
  border-radius: 100%;
  overflow: hidden;
}

.tweetbtn:active,
.tweetbtn:focus {
  outline: none;
}

.tweetbtn:hover,
.tweetbtn:focus {
  background-color: var(--accent-focus);
}

.columns {
  display: flex;
  column-gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
}

.column {
  width: var(--column-width);
  min-width: var(--column-width);
  background-color: var(--column-bgcolor);
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.column_header {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.article_list {
  overflow-y: scroll;
}

.tweet {
  padding: 8px 10px;
  position: relative;
}

.tweet > div {
  padding-left: 46px;
}

.profile_icon {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.retweeted_status {
  display: block;
  height: 1em;
  font-size: .8em;
  line-height: 1em;
}

.retweeted_status + .profile_icon {
  top: calc(1em + 8px);
}

@media screen and (max-width:500px) {
  :root {
    --column-width: 100%;
  }
  .TDapp {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
  .sidebar {
    display: none;
  }
  .columns {
    scroll-snap-type: x mandatory;
  }
  .column {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}