@font-face {
  font-family: twemoji;
  src: url("../fonts/TwitterColorEmoji-SVGinOT-13.1.0/TwitterColorEmoji-SVGinOT.ttf")
    format("truetype");
}

:root {
  --color: #fff;
  --color-mute: #8899a6;
  --bgcolor: #10171e;
  --accent-color: #1da1f2;
  --accent-color-focus: #005fd1;
  --border-color: #000;

  --icon-retweet-color: #17bf63;
  --icon-favorite-color: #e0245e;

  --scrollbar-thumb-color: #657786af;
  --scrollbar-thumb-color-focus: #8899a6;

  --sidebar-width: 60px;
  --sidebar-bgcolor: #1b2836;

  --column-width: 310px;
  --column-bgcolor: #16212c;

  --compose-width: 270px;
  --compose-bgcolor:#16212c;

  --compose-tweet-bgcolor:#16212c;
}

:root.light {
  --color: #38444d;
  --color-mute: #8899a6;
  --bgcolor: #e2e9ee;
  --accent-color: #1da1f2;
  --accent-color-focus: #005fd1;
  --border-color: #e1e8ed;

  --scrollbar-thumb-color: #e2e9eeaf;
  --scrollbar-thumb-color-focus: #8899a6;

  --sidebar-bgcolor: #f7f9f9;

  --column-bgcolor: #ffffff;

  --compose-bgcolor:#ffffff;

  --compose-tweet-bgcolor:#ffffff;
}

:root.black {
  --color: #d9d9d9;
  --color-mute: #8899a6;
  --bgcolor: #15181c;
  --accent-color: #1da1f2;
  --accent-color-focus: #005fd1;
  --border-color: #2f3336;

  --scrollbar-thumb-color: #2f3336af;
  --scrollbar-thumb-color-focus: #8898a5;

  --sidebar-bgcolor: #0a0d0f;

  --column-bgcolor: #000;

  --compose-bgcolor:#000;

  --compose-tweet-bgcolor:#000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-color-focus);
}
body {
  color: var(--color);
  background-color: var(--bgcolor);
  font-family: "twemoji", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
}

.login_link,.login_submit,.compose_modal_tweet_btn {
  display: block;
  width: 100%;
  height: 3em;
  padding: 1rem;
  color: var(--color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 3em;
  text-align: center;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
}

.login_link:hover,.login_submit:hover,.compose_modal_tweet_btn:hover {
  background-color: var(--accent-color-focus);
}

.login_form {
  display: grid;
  column-gap: 1em;
  grid-template-areas:
    "lt r"
    "lb r";
}

.login_label {
  grid-area: lt;
  height: 1.5em;
}

.login_value {
  grid-area: lb;
  height: 1.5em;
}

.login_submit {
  grid-area: r;
}

.TDapp {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  display: grid;
  grid-template-areas: "l c r";
}

.sidebar_items {
  height: 100%;
  grid-area: c;
  display: grid;
  width: var(--sidebar-width);
  grid-template-rows: auto 1fr auto;
  background-color: var(--sidebar-bgcolor);
  padding: 10px 12px;
}

.sidebar_upper_btns,
.sidebar_bottom_btns {
  display: grid;
  grid-template-rows: repeat(auto-fill, 36px);
  row-gap: 10px;
}

.tweetbtn {
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 100%;
  overflow: hidden;
}

.tweetbtn:active,
.tweetbtn:focus {
  outline: none;
}

.tweetbtn:hover,
.tweetbtn:focus {
  background-color: var(--accent-color-focus);
}

.compose_modal {
  background-color: var(--compose-bgcolor);
}

.compose_modal > .compose_modal {
  width: var(--compose-width);
  height: 100%;
  padding: 0 15px;
  background-color: var(--compose-tweet-bgcolor);
}

.compose_modal_textarea {
  resize: none;
  width: 100%;
  height: 155px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
}

.compose_modal_textarea::placeholder {
  color: #8899a6;
}

.compose_modal_top {
  height: 55px;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 2em;
  align-items: center;
}

.compose_modal_top_label {
  font-size: 1.15em;
  font-weight: bold;
}

.compose_modal_close {
  width: 2em;
  height: 2em;
}

.columns {
  display: flex;
  column-gap: 6px;
  overflow-x: overlay;
  overflow-y: hidden;
}

.column {
  width: var(--column-width);
  min-width: var(--column-width);
  background-color: var(--column-bgcolor);
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.column_header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--border-color);
  line-height: 50px;
}

.article_list {
  overflow-y: overlay;
  overflow-x: hidden;
}

.article_list::-webkit-scrollbar-track {
  border-right: 1px solid var(--border-color);
}

.tweet {
  overflow: hidden;
  width: 100%;
  padding: 8px 10px;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 46px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "rt rt"
    "av us"
    "av cn";
}

.profile_icon {
  grid-area: av;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.retweeted_status {
  grid-area: rt;
  display: block;
  margin-bottom: 0.5em;
  color: var(--color-mute);
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.retweet_icon {
  color: var(--icon-retweet-color);
}

.tweet_user {
  grid-area: us;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  font-weight: bold;
}

.screen_name {
  color: var(--color-mute);
  font-size: 0.8em;
  line-height: 1em;
}

.tweet_content {
  grid-area: cn;
}

.tweet_action_btns {
  display: flex;
}

.tweet_action_btns > [class$="btns"] {
  width: 3em;
  height: 1em;
  overflow: hidden;
  cursor: pointer;
}

.reply_btns:hover {
  color: var(--accent-color);
}
.retweet_btns:hover {
  color: var(--icon-retweet-color);
}
.fav_btns :hover {
  color: var(--icon-favorite-color);
}

.tweet_action_btns > [class$="btns"] > [class$="btn"] {
  width: 1em;
  height: 1em;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  :root {
    --column-width: 100%;
  }
  .columns {
    scroll-snap-type: x mandatory;
  }
  .column {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
